

<div class="text_field">
	<%= form.label :full_name, class:"sign-up-form-label" %>
	<%= form.text_field :full_name, class:"form-control" %>
</div>

<div class="text-field">
  <%= form.label :email, class:"sign-up-form-label" %>
  <%= form.text_field :email, type: 'email', class:"form-control" %>
</div>

<div class="password-field">
	<%= form.label :password, class:"sign-up-form-label" %>
	<%= form.password_field :password, class:"form-control" %>
</div>
<br>
<label class="btn btn-primary" id="image-upload-btn">
  Upload profile picture
	<span style="display:none;">
		<%= form.file_field :avatar %>
	</span>
</label>
<br>

