<div class="container" style="padding-top:150px;">
  <div class="row col-lg-4 col-md-4">

<%= form_for @user do |form| %>

<div class="form-group">
  <%= form.label :full_name %>
  <%= form.text_field :full_name, type: 'full_name', class:"form-control" %>
</div>

<div class="form-group">
	<%= form.label :email %>
	<%= form.text_field :email, type: 'email', class:"form-control"  %>
</div>

<div class="form-group">
  <%= form.label :phone %>
  <%= form.text_field :phone, type: 'phone', class:"form-control" %>
</div>

<div class="form-group">
  <%= form.label "Introduction" %>
  <%= form.text_area :intro, type: 'intro', :cols => "50", :rows => "5", class:"form-control" %>
</div>

<div class="form-group">
    <h4><%= form.label :country %></h4>
    <select id="country" name="user[country]" class="form-control form-control-small">
      <option value="<%= @user.country %>" selected>Select Your Country</option>
      <% CS.countries.each do |key, value| %>
        <option value="<%= key %>"><%= value%></option>
     <% end %>
    </select>
    </div>

    <div class="form-group">
    <h4><%= form.label :state %></h4>
    <select id="states-of-country" name="user[state]" class="form-control form-control-small">
      <option id="no-state" value="<%= @user.state %>" selected>Select Your State</option>
      <% CS.states(:my).each do |key, value| %>
        <option value="<%= value %>" id="<%= key %>"><%= value %></option>
      <% end %>
    </select>
    </div>

    <div class="form-group">
      <h4><%= form.label :city %></h4>
    <select id="cities-of-state" name="user[city]" class="form-control form-control-small" required>
      <option value="<%= @user.city %>" selected>Select Your City</option>
    </select>
    </div>

    <script type="text/javascript">

      $(document).on('change', '#states-of-country', function(e) {
        var cities_of_state, input_state, state;
        input_state = $(this);
        cities_of_state = $('#cities-of-state');
        state = this.options[e.target.selectedIndex].id;
        if (state === 'no-state') {
          return cities_of_state.html('');
        } else {
          $.ajax({
            url: '/cities/' + $(this).children(':selected').attr('id'),
            success: function(data) {
              var opt;
              opt = '<option value="" selected>Select Your City</option>';
              if (data.length === 0) {

              } else {
                data.forEach(function(i) {
                  opt += '<option value="' + i + '">' + i + '</option>';
                });
                cities_of_state.html(opt);
              }
            }
          });
        }
      });
    </script>

<div class="form-group">
  <%= form.label :fb_link %>
  <%= form.text_field :fb_link, type: 'fb_link', class:"form-control" %>
</div>

<div class="form-group">
  <%= form.label :linkedin_link %>
  <%= form.text_field :linkedin_link, type: 'linkedin_link', class:"form-control" %>
</div>

<div class="form-group">
  <%= form.label :twitter_link %>
  <%= form.text_field :twitter_link, type: 'twitter_link', class:"form-control" %>
</div>

<div class="form-group">
  <% if current_user.avatar.size !=0 %>
    <div id="profile-pic"><p><%= image_tag current_user.avatar.thumb %></p></div>
  <% end %>
  <h4><%= form.label "Upload profile picture" %></h4>
  <%= form.file_field :avatar %>
  <% if current_user.avatar.size !=0 %>
  <p>OR&nbsp;&nbsp;&nbsp;&nbsp;<%= form.check_box :remove_avatar %>&nbsp;&nbsp;remove avatar</p>
  <% end %>
</div>

<div class="form-group">
  <h4><%= form.label "Upload identification documents" %></h4>
  <%= form.file_field :documents, multiple: true %>
    
</div>

<%= form.submit "update!", class:"btn btn-primary form-control" %><br>

<!-- <div class="form-group">
  <% if current_user.avatar? %>
  <strong>Your Profile Image</strong><br>
  <%= image_tag(current_user.avatar_url) %>
    <label>
  	<p>Please tick and click the delete button to delete</p><br>
    <%= form.check_box :remove_avatar %>
    Remove Profile Picture
    <%= form.submit "Delete", class:"btn btn-danger" %>
  </label><br>
  <% end %>
<% end %>
</div> -->

<h3><%= link_to "View Profile", user_path %></h3>

  </div>
</div>
