<div class="container">
<head id="user-profile">
  <div class="user-profile-gamify">
    <div class="user-avatar-">

    </div>
    <div class="user-level-exp">

    </div>

    <div class="user-badge-count">

    </div>
    <div class="user-testimonials">

    </div>
  </div>
  <div class="user-profile-details">
    <div class="user-profile-buttons">
      
    </div>
    <div class="user-profile-bio">

    </div>

  </div>
</head>
<section>
  <div class="user-upcoming-missions">

  </div>
  <div class="user-completed-missions">


  </div>
  <div class="user-hosted-missions">

  </div>
</section>
</div>

<div class="container" style="padding-top: 150px;">
  <div class="profile-main-content">
     <div class="profile-left col-lg-3 col-md-3">
			 <% if @user.avatar.present? %>
       <div>
         <%= image_tag(@user.avatar, id:"profile-page-profile-image") %>
       </div>
			 <% else %>
			 <div>
				 <%= image_tag("profile_placeholder.jpg", style:"width:100%;") %>
			 </div>
				<% end %>
      <div class="profile-page-about-me">
          <div class="about-me-title">
            <h3>About me</h3>
          </div>
          <div class="about-me-content">
            <p><%= social_share_button_tag('Hi, I am on Niro! Checkout my social resume!') %></p>
            <strong><span class="glyphicon glyphicon-envelope"></span>&nbsp; Email</strong>
            <ul>
              <li> <%=@user.email%></li>
            </ul>
            <% if @user.country %>
            <strong><span class="glyphicon glyphicon-flag"></span>&nbsp; Where I'm from</strong>
            <ul>
              <li> <%= @user.country %></li>
            </ul>
            <% end %>
            <% if @user == current_user%>
            <button class="align-center btn btn-lg btn-primary" onclick="window.location.href='/users/<%=current_user.id%>/edit'">Edit Profile</button>
            <% end %>
          </div>
      </div>
      </div>
    <div class="profile-right col-lg-9 col-md-9">
      <div>
        <h1>Hey, I'm <%=@user.full_name%>!</h1>
        <h3>Member Since <%=@user.created_at.strftime('%B %Y')%></h3>
      </div>
      <div class="row well text-center">
        <h3 class="blockquote"> <%= @user.intro %> </h3>
      </div>
    </div>
  </div>
</div>
