


 <!-- User profiles avatar and bio -->
  <head id="user-profile">
    <div class="jumbotron jumbotron-profile">
      <div class="container profile-container">
      <div class="user-profile-details row">
    <!-- user avatar -->
        <div class="user-main col-lg-2 col-md-2">
            <div class="user-avatar">
              <% if @user.avatar.present? %>
              <div class="thumbnail user-avatar-1">
                <%= image_tag(@user.avatar, id:"profile-page-profile-image") %>
                <p><%=@user.email%></p>
                <% if @user == current_user %>
                <button class="align-center btn-primary" onclick="window.location.href='/users/<%=current_user.id%>/edit'">Edit Profile</button>
                <% end %>
              </div>
              <% else %>
              <div class="thumbnail user-avatar-1">
                <%= image_tag("profile_placeholder.jpg",id:"profile-page-profile-image") %>
                <p><%=@user.email%></p>
                <% if @user == current_user %>
                <button class="align-center btn-primary" onclick="window.location.href='/users/<%=current_user.id%>/edit'">Edit Profile</button>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>

      <!-- user about me  -->
          <div class="user-about-me col-lg-5 col-md-5">
            <div class="about-me-content text-center">
              <h2> <%= @user.full_name %></h2>
              <p> Member since: <%= @user.created_at.strftime("%^B %Y") %> &middot;  <%= @user.verification %></p>
              <p><%= @user.city if @user.country %>  <%= @user.country if @user.country %></p>
              <% if signed_in? and current_user.superadmin? and current_user.Verified? %>
                <% if !@user.Verified? %>
                  <%= button_to "Verify", verify_user_path(@user.id), method: :post, class:"btn btn-primary"%>
                <% end %>
              <% end %>
              <div class="user-followings">
                <div class="row">
                  <div class="col-lg-6 col-md-6 text-center">
                    <p>Followers</p>
                    <h1><%= Following.where(followed_id: @user.id).count %></h1>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <p>Followings</p>
                    <h1><%= Following.where(follower_id: @user.id).count %></h1>
                  </div>
                </div>
              </div>
            </div>
        </div>
    <!-- user introduction -->
        <div class="about-me-blockquote col-lg-5 col-mid-5">
          <div class="bio-box text-center ">
            <% if @user.intro.present? %>
            <h3>About Me</h3>
            <p> <%= @user.intro %></p>
            <% else %>
            <h3>About Me</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- Buttions bar  -->
    <div class="user-profile-buttons row">
      <!-- user event reporting button  -->
      <% if @user != current_user %>
      <div class="report-button pull-left">
        <button type="button" class="btn-profile" data-toggle="modal" data-target=".bs-reporting-modal-md">Report User</button>
        <div class="modal fade bs-reporting-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header"></div>
             <div class="modal-body">
               <%= render partial: "/reportings/user_reporting_form" %>
             </div>
             <div class="modal-footer"></div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <!-- end reporting button -->
      <div class="user-edit-button pull-left">
      </div>
      <div class="user-message-button pull-left ">
        <button class="align-center btn-profile" onclick="window.location.href='/users/<%=@user.id%>/rooms'">Chat with User</button>
      </div>
      <div class="user-tetimonials-button pull-left">
        <button class="align-center btn-profile" onclick="window.location.href='/users/<%=@user.id%>/testimonials'">Leave A Testimony</button>
      </div>
      <div class="user-follow-button pull-left">
        <% if current_user && current_user.id == params[:id].to_i %>
        <% elsif current_user.following?(@user) %>
          <%= form_tag "/users/#{ @user.id }/unfollow", method: :post %>
            <input type=submit value="Unfollow" class="btn btn-info">
          </form>
        <% else %>
          <%= form_tag "/users/#{ @user.id }/follow", method: :post %>
            <input type=submit value="Follow" class="btn btn-info">
          </form>
        <% end %>
      </div>
      <div class="user-social-buttons pull-right">
        <p><%= social_share_button_tag('Hi, I am on Niro! Checkout my social resume!', class:"pull-right") %></p>
      </div>
    </div>
    <!-- user level experience badges and testimonials  -->
    <div class="user-profile-gamify row">
      <div class="row home-box-title">
  			<div class="text-center">
  				<h1>My Niro Status</h1>
  			</div>
  		</div>
      <div class="niro-status container">
        <div class="col-lg-4 col-md-4">
        <div class="user-level-exp">
          <div class="user-level" style="height:75%;">
            <div class="user-level-image">
              <%= image_tag("niro-lvl1.png", style:"height:150px;", class:"align-center") %>
            </div>
            <div class="user-level-level">
              <span>
                <% if @user.points >= 0 and @user.points <= 100 %>
                  <strong>Level: 1:</strong>
                  <strong>Peasant<stong>
                <% elsif @user.points >= 101 and @user.points <= 200 %>
                  <strong>Level: 2:</strong>
                  <strong>Samurai<stong>
                <% elsif @user.points >= 201 and @user.points <= 300 %>
                  <strong>Level: 3:</strong>
                  <strong>Daimyo<stong>
                <% elsif @user.points >= 301 and @user.points <= 400 %>
                  <strong>Level: 4:</strong>
                  <strong>Shogun<stong>
                <% end %>
              </span>
            </div>
          </div>
          <div class="user-exp" style="height:25%">
            <% bar_width = (@user.points).to_f / 100 * 100 %>
            <div class="user-exp-bar progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= bar_width %>%"></div>
              </div>
          </div>
          <div class="user-exp-points text-center">
            <h4>Total points: <%= @user.points %></h4>
          </div>
        </div>
        <div class="user-badge-count text-center">
          <strong>Total Badges Earned</strong>
          <h1 style="font-size:8em;"><%= @user.badges.size %></h1>
          <a href="#user-badges-box">View my shiny badges</a>
        </div>
        <div class="user-testimonials text-center">
          <storng>Total Testimonials Received</strong>
          <h1 style="font-size:8em;">100</h1>
        </div>
      </div>
    <!-- badges column  -->
      <div class="user-badges row col-lg-8 col-md-8", id="user-badges-box">
        <% if @user.id == current_user.id %>
        <h2 class="text-center">Your Badges</h2>
        <% else %>
        <h2> <%= @user.full_name %>'s Badges</h2>
        <% end %>
        <div class="badge-well well">
          <ul>
            <% if @user.badges.size != 0 %>
            <% @user.badges.each do |badge| %>
            <% @event_badge = Badge.find_by(name: badge.name) %>
            <%= image_tag @event_badge.image %>
            <% end %>
          </ul>
          <% else %>
          <p>No Badges earned yet! <%= link_to "Start earning now!", root_path %></p>
          <% end %>
        </div>
      </div>
    </div>
  </head>

  <section>
    <!-- User upcoming missions  -->

    <div class="home-org-box row">
    	<div class="row home-box-title">
    		<div class="text-center">
          <% if @user.id == current_user.id %>
            <h2>Your Upcoming Missions</h2>
          <% else %>
            <h2> <%= @user.full_name %>'s Upcoming Missions</h2>
          <% end %>
    		</div>
    	</div>
    <div class="row list-group">
      <% if @user_upcoming_participation.size != 0 %>
        <% @user_upcoming_participation.each do |p| %>
          <% if p.event.host_type == "User" %>
            <a href="/users/<%=p.event.host_id%>/events/<%=p.event.id%>">
              <div class="item col-lg-4" >
                <div class="thumbnail" style="min-height: 400px;">
                  <% if p.event.image? %>
                    <%= image_tag(p.event.image, style:"height:auto; width:500px;") %>
                  <% else %>
                    <%= image_tag(["niro_sample_photo1","niro_sample_photo2","niro_sample_photo3"].sample, style:"height:auto; width:250px;") %>
                  <% end %>
                  <div class="caption">
                    <h2 class="group inner list-group-item-heading text-center" style="color:#9A35B2;"><%= p.event.name %></h2>
                    <div>
                      <div class="home-event-date text-center col-lg-4 col-md-4">
                        <% if p.event.start_date.present? %>
                        <h4 style="color:#BD3B1B"><%=p.event.start_date.strftime("%^b")%></h4>
                        <h4><%=p.event.start_date.strftime("%d")%></h4>
                        <% end %>
                      </div>
                      <div class="home-event-detail text-center col-lg-8 col-md-8">
                        <h4><strong>Min. Niroes<strong>: <%=p.event.required_participants%></h4>
                          <p class="group inner list-group-item-text"><%= p.event.city %> &middot; <%= p.event.state %> &middot; <%=p.event.country%></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
          <% elsif p.event.host_type == "Organization" %>
            <a href="/organizations/<%=p.event.host_id%>/events/<%=p.event.id%>">
              <div class="item col-lg-4" >
                <div class="thumbnail" style="min-height: 400px;">
                  <%= image_tag(["niro_sample_photo1","niro_sample_photo2","niro_sample_photo3"].sample, style:"height:auto; width:500px;") %>
                  <div class="caption">
                    <h2 class="group inner list-group-item-heading text-center" style="color:#9A35B2;"><%= p.event.name %></h2>
                    <div>
                      <div class="home-event-date text-center col-lg-4 col-md-4">
                        <% if p.event.start_date.present? %>
                        <h4 style="color:#BD3B1B"><%=p.event.start_date.strftime("%^b")%></h4>
                        <h4><%=p.event.start_date.strftime("%d")%></h4>
                        <% end %>
                      </div>
                      <div class="home-event-detail text-center col-lg-8 col-md-8">
                        <h4><strong>Min. Niroes<strong>: <%=p.event.required_participants%></h4>
                          <p class="group inner list-group-item-text"><%= p.event.city %> &middot; <%= p.event.state %> &middot; <%=p.event.country%></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
          <% end %>
        <% end %>
      <% else %>
        <p class="text-center">No upcoming mission</p>
      <% end %>
    </div>
  </div>

  <!-- user completed missions -->

  <div class="home-org-box row">
    <div class="row home-box-title">
      <div class="text-center">
        <% if @user.id == current_user.id %>
          <h2>Your Completed Missions</h2>
        <% else %>
          <h2> <%= @user.full_name %>'s Completed Missions</h2>
        <% end %>
      </div>
    </div>
  <div class="row list-group">
      <% if @user_completed_participation.size != 0 %>
        <% @user_completed_participation.each do |p| %>
        <% if p.event.host_type == "User" %>
          <a href="/users/<%=p.event.host_id%>/events/<%=p.event.id%>">
            <div class="item col-lg-4" >
              <div class="thumbnail" style="min-height: 400px;">
                <%= image_tag(["niro_sample_photo1","niro_sample_photo2","niro_sample_photo3"].sample, style:"height:auto; width:500px;") %>
                <div class="caption">
                  <h2 class="group inner list-group-item-heading text-center" style="color:#9A35B2;"><%= p.event.name %></h2>
                  <div>
                    <div class="home-event-date text-center col-lg-4 col-md-4">
                      <% if p.event.start_date.present? %>
                      <h4 style="color:#BD3B1B"><%=p.event.start_date.strftime("%^b")%></h4>
                      <h4><%=p.event.start_date.strftime("%d")%></h4>
                      <% end %>
                    </div>
                    <div class="home-event-detail text-center col-lg-8 col-md-8">
                      <h4><strong>Min. Niroes<strong>: <%=p.event.required_participants%></h4>
                        <p class="group inner list-group-item-text"><%= p.event.city %> &middot; <%= p.event.state %> &middot; <%=p.event.country%></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
        <% elsif p.event.host_type == "Organization" %>
          <a href="/organizations/<%=p.event.host_id%>/events/<%=p.event.id%>">
            <div class="item col-lg-4" >
              <div class="thumbnail" style="min-height: 400px;">
                <%= image_tag(["niro_sample_photo1","niro_sample_photo2","niro_sample_photo3"].sample, style:"height:auto; width:500px;") %>
                <div class="caption">
                  <h2 class="group inner list-group-item-heading text-center" style="color:#9A35B2;"><%= p.event.name %></h2>
                  <div>
                    <div class="home-event-date text-center col-lg-4 col-md-4">
                      <% if p.event.start_date.present? %>
                      <h4 style="color:#BD3B1B"><%=p.event.start_date.strftime("%^b")%></h4>
                      <h4><%=p.event.start_date.strftime("%d")%></h4>
                      <% end %>
                    </div>
                    <div class="home-event-detail text-center col-lg-8 col-md-8">
                      <h4><strong>Min. Niroes<strong>: <%=p.event.required_participants%></h4>
                        <p class="group inner list-group-item-text"><%= p.event.city %> &middot; <%= p.event.state %> &middot; <%=p.event.country%></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-center">No completed mission</p>
    <% end %>
  </div>
</div>

<!-- user hosted missions -->


<div class="home-org-box row">
  <div class="row home-box-title">
    <div class="text-center">
      <% if @user.id == current_user.id %>
        <h2>Missions Hosted By You </h2>
      <% else %>
        <h2>Missions Hosted By <%= @user.full_name %> </h2>
      <% end %>
    </div>
  </div>
  <div class="row list-group">
    <% if @host_events.size != 0 %>
      <% @host_events.each do |event| %>
        <% if event.host_type == "User" %>
          <a href="/users/<%=event.host_id%>/events/<%=event.id%>">
            <div class="item col-lg-4" >
              <div class="thumbnail" style="min-height: 400px;">
                <% if event.image? %>
                    <%= image_tag(event.image, style:"height:auto; width:500px;") %>
                  <% else %>
                    <%= image_tag(["niro_sample_photo1","niro_sample_photo2","niro_sample_photo3"].sample, style:"height:auto; width:250px;") %>
                  <% end %>
                <div class="caption">
                  <h2 class="group inner list-group-item-heading text-center" style="color:#9A35B2;"><%= event.name %></h2>
                      <% if @user == current_user %>
                        <button class="align-center btn-profile" onclick="window.location.href='/users/<%=current_user.id%>/events/<%=event.id%>/edit'">Edit Event</button>
                      <% end %>
                  <div>
                    <div class="home-event-date text-center col-lg-4 col-md-4">
                      <% if event.start_date.present? %>
                      <h4 style="color:#BD3B1B"><%=event.start_date.strftime("%^b")%></h4>
                      <h4><%=event.start_date.strftime("%d")%></h4>
                      <% end %>
                    </div>
                    <div class="home-event-detail text-center col-lg-8 col-md-8">
                      <h4><strong>Min. Niroes<strong>: <%=event.required_participants%></h4>
                        <p class="group inner list-group-item-text"><%= event.city %> &middot; <%= event.state %> &middot; <%=event.country%></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
        <% elsif event.host_type == "Organization" %>
          <a href="/organizations/<%=event.host_id%>/events/<%=event.id%>">
            <div class="item col-lg-4" >
              <div class="thumbnail" style="min-height: 400px;">
                <%= image_tag(["niro_sample_photo1","niro_sample_photo2","niro_sample_photo3"].sample, style:"height:auto; width:500px;") %>
                <div class="caption">
                  <h2 class="group inner list-group-item-heading text-center" style="color:#9A35B2;"><%= event.name %></h2>
                  <div>
                    <div class="home-event-date text-center col-lg-4 col-md-4">
                      <% if event.start_date.present? %>
                      <h4 style="color:#BD3B1B"><%=event.start_date.strftime("%^b")%></h4>
                      <h4><%=event.start_date.strftime("%d")%></h4>
                      <% end %>
                    </div>
                    <div class="home-event-detail text-center col-lg-8 col-md-8">
                      <h4><strong>Min. Niroes<strong>: <%=event.required_participants%></h4>
                        <p class="group inner list-group-item-text"><%= event.city %> &middot; <%= event.state %> &middot; <%=event.country%></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-center">No mission hosted yet</p>
    <% end %>
  </div>
</div>


 <!-- Super Admin's Organiation list block  -->
    <div class="home-org-box row text-center">
        <% if @user.organizations.size != 0 %>
          <h2>Your organization(s)</h2>
          <div class="col-lg-3 col-md-3 text-center">
            <% @user.organizations.each do |org| %>
              <% if org.Unverified? and @user.id == current_user.id %>
                <%= image_tag(org.logo, class:"image-circle") %>
                <h4><%= link_to org.name, organization_path(org.id) %></h4>
                <p>status: verification pending</p>
              <% elsif org.Unverified? and @user.id != current_user.id %>
                <h4>Pending for verification</h4>
              <% else org.Verified? %>
                <%= image_tag(org.logo, class:"image-circle") %>
                <h4><%= link_to org.name, organization_path(org.id) %></h4>
                <p>status: verified</p>
            <% end %>
          <% end %>
      </div>
        <% end %>
    </div>

    <% if signed_in? and current_user.superadmin? and @user.id == current_user.id%>
        <div class="row">
          <h2>Organizations awaiting verification</h2>

            <div class="well">
              <% if @pending_org.count != 0 %>
                <ul>
                  <% @pending_org.each do |org| %>
                    <li><%= link_to org.name, organization_path(org.id), target: :_blank %></li>
                  <% end %>
                </ul>
              <% else %>
                <p>No organizations pending for verification</p>
              <% end %>
              <br>
              <p><%= paginate @pending_org, param_name: :pending_org_feed %></p>
            </div>
        </div>

        <div class="row">
          <h2>Users awaiting verification</h2>

            <div class="well">
              <% if @pending_user.count != 0 %>
                <ul>
                  <% @pending_user.each do |user| %>
                    <li><%= link_to user.full_name, user_path(user.id), target: :_blank %></li>
                  <% end %>
                </ul>
              <% else %>
                <p>No users pending for verification</p>
              <% end %>
              <br>
              <p><%= paginate @pending_user, param_name: :pending_user_feed %></p>
            </div>
        </div>
    <% end %>
  </section>
</div>
</div>
