<div class="jumbotron jumbotron-home">
	<div class="home-gif">
	<div class="banner-content text-center">
		<h3 style="font-family:Amatic SC; font-size: 3em;">Make the world a better place &middot; Put smile on other's face</h3>
		<h1 style="font-family:Raleway; font-size:8em;">Be our Everyday Hero</h1>
		<h1 style="font-family:Work Sans">Be a Niro</h1>
		<div >
			<h2 style="font-family:Work Sans; font-size: 3em;"><%= Event.all.count %> Missions On Niro Today </h1>
		</div>
	</div>
	</div>
</div>

<div class="container" style="padding-top: 25px">
	<!-- Niroes Leader Board  -->
		<div class="leader-board row">
			<div class="home-box-title">
				<div>
					<%= image_tag("home-page-star.png", class:"home-page-star align-center") %>
				</div>
				<div class="text-center">
					<h1 style="font-family:Work Sans;">All Time Top Niroes</h1>
					<em style="font-size:1.5em;">Making the world a better place</em>
				</div>
			</div>
				<div class="leader-box">
					<% @leaders = User.order(points: :desc).limit(16) %>
					<% @leaders.each do |l| %>
						<div class="each-leader col-lg-3 col-md-3">
							<div class="leader-avatar">
								<% if l.avatar.size > 0  %>
								<%= link_to "#{image_tag(l.avatar.thumb)}".html_safe, user_path(l.id) %>
								<% else %>
								<%= link_to "#{image_tag("profile_placeholder.jpg", id:"each-leader", class:"align-center")}".html_safe, user_path(l.id) %>
								<% end %>
							</div>
							<div class="leader-info text-center">
									<strong><%=l.full_name%></strong>
									<p>Lvl. <%=l.level%></p>
							</div>
					</div>
				<%end%>
			</div>
		</div>
	<!-- Missions hosted by organizations  -->
	<div class="home-org-box row">
		<div class="row home-box-title">
			<div class="text-center">
				<h1 style="font-family:Work Sans;">Missions by The Big Guys</h1>
				<em style="font-size:1.5em;">Reaching out for heroes</em>
			</div>
		</div>
  <div class="row list-group">
		<% @events = Event.where(host_type:"Organization").order(created_at: :desc).page params[:page] %>
    <% @events.each do |event| %>
      <a href="/organizations/<%=event.host_id%>/events/<%=event.id%>">
      <div class="item col-lg-4" >
        <div class="thumbnail" style="min-height: 400px;">
          <%= image_tag(["niro_sample_photo1","niro_sample_photo2","niro_sample_photo3"].sample, style:"height:auto; width:500px;") %>
          <div class="caption">
            <h2 class="group inner list-group-item-heading text-center" style="color:#9A35B2;"><%= event.name %></h2>
						<div>
							<div class="home-event-date text-center col-lg-4 col-md-4">
								<h4 style="color:#BD3B1B"`><%=event.start_date.strftime("%^b")%></h4>
								<h4><%=event.start_date.strftime("%d")%></h4>
							</div>
							<div class="home-event-detail text-center col-lg-8 col-md-8">
								<h4><strong>Min. Niroes<strong>: <%=event.required_participants%></h4>
								<p class="group inner list-group-item-text"><%= event.city %> &middot; <%= event.state %> &middot; <%=event.country%></p>
							</div>
						</div>
          </div>
        </div>
      </div>
    </a>
    <% end %>
  </div>
	<div class="text-center"><%= paginate @events %></div>
</div>

 <!-- Missions hosted by Niroes  -->
 <div class="home-org-box row" id="home-niroes-mission">
 	<div class="row home-box-title">
 		<div class="text-center">
 			<h1 style="font-family:Work Sans;">Missions by Fellow Niroes</h1>
 			<em style="font-size:1.5em;">Power of the crowd</em>
 		</div>
 	</div>
 <div class="row list-group">
	 <% @events = Event.where(host_type:"User").order(created_at: :desc).page params[:page] %>
 	<% @events.each do |event| %>
		<a href="/users/<%=event.host_id%>/events/<%=event.id%>">
 		<div class="item col-lg-4" >
 			<div class="thumbnail" style="min-height: 400px;">
 				<%= image_tag(["niro_sample_photo1","niro_sample_photo2","niro_sample_photo3"].sample, style:"height:auto; width:500px;") %>
 				<div class="caption">
 					<h2 class="group inner list-group-item-heading text-center" style="color:#9A35B2;"><%= event.name %></h2>
 					<div>
 						<div class="home-event-date text-center col-lg-4 col-md-4">
							<% if event.start_date.present? %>
 							<h4 style="color:#BD3B1B"><%=event.start_date.strftime("%^b")%></h4>
							<h4><%=event.start_date.strftime("%d")%></h4>
							<% end %>
 						</div>
 						<div class="home-event-detail text-center col-lg-8 col-md-8">
 							<h4><strong>Min. Niroes<strong>: <%=event.required_participants%></h4>
 							<p class="group inner list-group-item-text"><%= event.city %> &middot; <%= event.state %> &middot; <%=event.country%></p>
 						</div>
 					</div>
 				</div>
 			</div>
 		</div>
 	</a>
 	<% end %>
 </div>
 <div class="text-center"><%= paginate @events %></div>
 </div>
</div>
<div class="home-info-banner1">
		<%=image_tag "home-info-banner1.png" %>
</div>
<div class="home-info-banner1-info text-center">
	<h1>Why Niro?</h1>
	<div class="row">
		<div class=" col-lg-4 col-md-4">
			<%= image_tag("why-niro1.png", class:"why1") %>
		</div>
		<div class="col-lg-4 col-md-4">
			<%= image_tag("why-niro2.png", class:"why1") %>
		</div>
		<div class="col-lg-4 col-md-4">
			<%= image_tag("why-niro3.png", class:"why1") %>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-4 col-md-4" style="color:white">
				<h2>Social Resume</h2>
		</div>
		<div class="col-lg-4 col-md-4" style="color:white">
				<h2>Good Deeds Recognised</h2>
		</div>
		<div class="col-lg-4 col-md-4" style="color:white">
				<h2>Collaborate & Expand</h2>
		</div>
	</div>
</div>
