<div class="jumbotron home-gif">
	<div class="banner-content text-center">
		<h1>Be our Everyday Hero</h1>
		<h2>Be a Niro</h2>
	</div>

</div>

<div class="container" style="padding-top: 150px">
	<!-- Missions hosted by organizations  -->
  <div class="row" id="home-page-title">
    <div>
      <h1 class="text-align">Missions hosted by Registered Entities &nbsp;<small class="text-muted">Comfortably - Any where around the world!</small></h1>
    </div>
  </div>
  <div class="row list-group">
		<% @events = Event.where(host_type:"Organization").order(created_at: :desc) %>
    <% @events.each do |event| %>
      <a href="/organizations/<%=event.host_id%>/events/<%=event.id%>">
      <div class="item col-lg-4" >
        <div class="thumbnail" style="min-height: 410px;">
          <%= image_tag(["niro_sample_photo1","niro_sample_photo2","niro_sample_photo3"].sample, style:"height:auto; width:500px;") %>
          <div class="caption">
            <p class="group inner list-group-item-text">Required Participants: <%=event.required_participants%> &middot; <%= event.city %> - <%= event.country %></p>
            <h2 class="group inner list-group-item-heading"><%= event.name %></h2>
            <p class="group inner list-group-item-text"><%= truncate(event.description, length: 150) %></p>
          </div>
        </div>
      </div>
    </a>
    <% end %>
  </div>

 <!-- Missions hosted by Niroes  -->
  <div class="row" id="home-page-title">
    <div>
      <h1 class="text-align">Missions hosted by Niroes &nbsp;<small class="text-muted">Comfortably - Any where around the world!</small></h1>
    </div>
  </div>
  <div class="row list-group">
		<% @events = Event.where(host_type:"User").order(created_at: :desc) %>
    <% @events.each do |event| %>
      <a href="/users/<%=event.host_id%>/events/<%=event.id%>">
      <div class="item col-lg-4" >
        <div class="thumbnail" style="min-height: 410px;">
          <%= image_tag(["niro_sample_photo1","niro_sample_photo2","niro_sample_photo3"].sample, style:"height:auto; width:500px;") %>
          <div class="caption">
            <p class="group inner list-group-item-text">Required Participants: <%=event.required_participants%> &middot; <%= event.city %> - <%= event.country %></p>
            <h2 class="group inner list-group-item-heading"><%= event.name %></h2>
            <p class="group inner list-group-item-text"><%= truncate(event.description, length: 150) %></p>
          </div>
        </div>
      </div>
    </a>
    <% end %>
  </div>
</div>
