
<div class="container" style="padding-top:150px;">
  <div class="new-list-box row">
    <%= form_for Event.new, url: user_events_path do |form| %>
    <%= form.hidden_field :user_id, value:current_user.id%>
    <div class="form-group">
      <h4><%= form.label :name %></h4>
      <%= form.text_field :name , class:"form-control"%>
    </div>
    <div class="form-group">
      <h4><%= form.label :place_type %></h4>
      <%= form.text_field :place_type , class:"form-control"%>
    </div>
    <div class="form-group">
      <h4><%= form.label :description %></h4>
      <%= form.text_area :description, class:"form-control", rows:"5"%>
    </div>
    <div class="form-group">
      <h4><%= form.label :photos %></h4>
      <%= form.file_field :photos, multiple: true, class:"btn btn-lg"%>
    </div>
    <div class="form-group">
    <%= form.submit "Submit", class:"btn btn-lg btn-danger pull-right form-control" %>
    </div>
    <% end %>
  </div>
</div>
</div>
