
<div class="container" style="padding-top:150px;">
  <div class="new-list-box row">
    <%= form_for @event, url: user_event_path do |form| %>
    <%= form.hidden_field :user_id, value:current_user.id%>
    <div class="form-group">
      <h4><%= form.label :name %></h4>
      <%= form.text_field :name , class:"form-control"%>
    </div>
    <div class="form-group">
      <h4><%= form.label :description %></h4>
      <%= form.text_area :description , class:"form-control"%>
    </div>
    <div class="form-group">
      <h4><%= form.label :event_type %></h4>
      <%= form.text_field :event_type, class:"form-control", rows:"5"%>
    </div>
    <div class="form-group">
      <h4><%= form.label :required_participants %></h4>
      <%= form.number_field :required_participants, class:"form-control", rows:"5"%>
    </div>
    <div class="form-group">
      <h4><%= form.label :address %></h4>
      <%= form.text_field :address, class:"form-control", rows:"5"%>
    </div>
    <div class="form-group">
      <h4><%= form.label :country %></h4>
      <select id="country" name="event[country]" class="form-control form-control-small" required>
      <option value="" selected>Select Your Country</option>
      <% CS.countries.each do |key, value| %>
        <option value="<%= key %>"><%= value%></option>
      <% end %>
      </select>
    </div>
    <div class="form-group">
      <h4><%= form.label :state %></h4>
      <select id="states-of-country" name="event[state]" class="form-control form-control-small" required>
      <option id="no-state" value="" selected>Select Your State</option>
      <% CS.states(:my).each do |key, value| %>
        <option value="<%= value %>" id="<%= key %>"><%= value %></option>
      <% end %>
      </select>
    </div>
    <div class="form-group">
      <h4><%= form.label :city %></h4>
      <select id="cities-of-state" name="event[city]" class="form-control form-control-small" required>
        <option value="" selected>Select Your City</option>
      </select>
    </div>
    <div class="form-group">
      <h4><%= form.label :zip_code %></h4>
      <%= form.number_field :zip_code, class:"form-control", rows:"5"%>
    </div>
    <div class="form-group" id="datepicker">
      <strong><%= f.label :start_date %></strong>
      <%= f.text_field :start_date, data:{provide:"datepicker", turbolinks: false }, class:"form-control"%>
    </div>
    <div class="form-group date" id="datepicker">
      <strong><%= f.label :end_date %></strong>
      <%= f.text_field :end_date, data:{provide:"datepicker", turbolinks: false }, class:"form-control"%>
    </div>
    <div class="form-group">
      <h4><%= form.label :start_time %></h4>
      <%= form.time_field :start_time, class:"form-control", rows:"5"%>
    </div>
    <div class="form-group">
      <h4><%= form.label :end_time %></h4>
      <%= form.time_field :end_time, class:"form-control", rows:"5"%>
    </div>
    <div class="form-group">
      <h4><%= form.label :photos %></h4>
      <%= form.file_field :photos, multiple: true, class:"btn btn-lg"%>
    </div>
    <div class="form-group">
    <%= form.submit "Submit", class:"btn btn-lg btn-danger pull-right form-control" %>
    </div>
    <% end %>
  </div>
</div>
</div>
