<div class="container-fluid" style="padding-top:150px;">
  <% if @listing.photos == [] %>
  <%= image_tag("fairbnc-room-photo.jpg") %>
  <% else %>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag @listing.photos.first, class:"img-responsive container-fluid", style:"width:100%;"%>
      </div>

      <% @listing.photos.each do |photo| %>
      <div class="item">
        <%= image_tag photo, class:"img-responsive" %>
      </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <% end %>
</div>

<div class="container">
  <div class="listing-main-content">
    <div class="listing-content-left">
      <div class="list-head">
        <div class="list-head-1">
          <h1 class="list-group-item-heading"><%= @listing.name %>
          <p class="lead"><%= @listing.property_type %> &middot; <%= @listing.country %></p>
        </div>
        <div class="list-head-2">
          <% if @user.avatar? %>
          <%= link_to "#{image_tag(@user.avatar.thumb, style:"border-radius:50%;")}".html_safe, user_path(@listing.user_id)%>
          <% else %>
          <%= link_to "#{image_tag("profile-placeholder.png", style:"border-radius:50%; width:50px; height:50px;")}".html_safe, user_path(@listing.user_id) %>
          <% end %>
          <p class="lead" style="font-size:1.5em;"><%= @user.first_name %></p>
        </div>
      </div>
      <div>
        <p class="list-group-item-text" style="font-size:1em;"><i class="fa fa-group"></i>&nbsp;<%= @listing.guest_number %>&nbsp;GUESTS&nbsp;&nbsp;
          <i class="fa fa-home"></i>&nbsp;<%= @listing.room_number %>&nbsp;ROOMS&nbsp;&nbsp;
          <i class="fa fa-bed"></i>&nbsp;<%= @listing.bed_number %>&nbsp;BEDS
        </p>
      </div>
      <div>
        <p style="font-size:1.5em;"><%=@listing.description%></p>
      </div>
    </div>
    <div class="listing-content-right">
      <div class="booking-form">
        <h2>RM<%=@listing.price%>&nbsp;<small class="text-disabled">per night</small></h2>
        <hr/>
        <%= render partial: "reservations/form" %>
        <p class="text-disabled text-center">You won't be charge yet</[]>
      </div>
    </div>
  </div>
</div>
