<h3>You are looking at <%= @organization.name %>'s profile</h3>
<!-- user event reporting button  -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-reporting-modal-md">Report Event</button>

<div class="modal fade bs-reporting-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header"></div>
		 <div class="modal-body">
			 <%= render partial: "/reportings/organization_reporting_form" %>
		 </div>
		 <div class="modal-footer"></div>
		</div>
	</div>
</div>
<!-- end reporting button -->
<br>

<% if @organization.logo.size !=0 %>
	<%= image_tag @organization.logo %>
<% else %>
	<%= image_tag("profile_placeholder.jpg") %>
<% end %>



<% if signed_in? and current_user.superadmin? and current_user.Verified?%>
	<% if @organization.Verified? %>
		<h2>Verification status: <%= @organization.verification %></h2>
	<% else %>
		<h2>Verification status: <%= @organization.verification %></h2>
		<%= button_to "Verify", verify_org_path(@organization.id), method: :post, class:"btn btn-primary" %>
	<% end %>
<% end %>

<% if current_user.id == @organization.user_id %>
	<button class="btn btn-lg btn-primary" onclick="window.location.href='/organizations/<%= @organization.id %>/edit'">Edit Profile</button>
<% end %>
