<h3>You are looking at <%= @organization.name %>'s profile</h3>
<br>

<% if @organization.logo.size !=0 %>
	<%= image_tag @organization.logo %>
<% else %>
	<%= image_tag("profile_placeholder.jpg") %>
<% end %>



<% if signed_in? and current_user.superadmin? and current_user.Verified?%>
	<% if @organization.Verified? %>
		<h2>Verification status: <%= @organization.verification %></h2>
	<% else %>
		<h2>Verification status: <%= @organization.verification %></h2>
		<%= button_to "Verify", verify_org_path(@organization.id), method: :post, class:"btn btn-primary" %>
	<% end %>
<% end %>

<% if current_user.id == @organization.user_id %>
	<button class="btn btn-lg btn-primary" onclick="window.location.href='/organizations/<%= @organization.id %>/edit'">Edit Profile</button>
<% end %>

<div class="user-hosted-missions row">
        <h2>Missions Hosted By <%= @organization.name %> </h2>
      <div class="well">
        <% if @host_events.size != 0 %>
          <div class="row list-group">
            <% @host_events.each do |event| %>
              <a href="/organizations/<%=event.host_id%>/events/<%=event.id%>">
              <div class="item col-lg-4" >
                <div class="thumbnail" style="min-height: 410px;">
                  <%= image_tag(["niro_sample_photo1","niro_sample_photo2","niro_sample_photo3"].sample, style:"height:auto; width:500px;") %>
                  <div class="caption">
                    <p class="group inner list-group-item-text">Required Participants: <%=event.required_participants%> &middot; <%= event.city %> - <%= event.country %></p>
                    <h2 class="group inner list-group-item-heading"><%= event.name %></h2>
                    <p class="group inner list-group-item-text"><%= truncate(event.description, length: 150) %></p>
                  </div>
                </div>
              </div>
            </a>
            <% end %>
          </div>
          <% else %>
            <p>No mission hosted yet</p>
          <% end %>
      </div>
    </div>


