<div class="jumbotron" style="background-color:#FF7373;">
  <div class="container" style="padding-top:30px;">
    <div class="user-avatar col-lg-3 col-md-3">
      <% if @user.avatar.present? %>
      <div>
        <%= image_tag(@user.avatar, class:"img-circle", style:"width:60%; margin-top:15px;") %>
      </div>
      <% else %>
      <div>
        <%= image_tag("profile_placeholder.jpg", class:"img-circle", style:"width:100%;") %>
      </div>
      <% end %>
    </div>
    <div class="col-lg-9 col-md-9">
      <h1 style="color:white;"><%=@user.full_name%>'s Testimonials</h1>
    </div>
  </div>
</div>
<div class="container text-center">
  <% if @user != current_user %>
  <h2>Leave a testimony for <%= @user.full_name %></h2>
  <div class="testimony-form align-center">
    <%= form_for Testimonial.new, url:user_testimonials_path, method: :post do |form| %>
    <%=  form.hidden_field :visitor_id, value:current_user.id %>
    <%=  form.hidden_field :user_id, value:@user.id %>
    <div class="form-group">
    <%= form.text_field :title, placeholder:"Testimony title", class:"form-control" %>
    </div>
    <div class="form-group">
    <%= form.text_area :testimony, placeholder:"Your testimony", class:"form-control" %>
    </div>
    <div class="form-group">
    <%= form.submit "post", class:"btn btn-primary pull-right" %>
    </div>
    <% end %>
  </div>
  <% end %>
  <section class="testimonial-section">
    <div>
      <h2 style="color:#9a35b2">Niroes who left testimony<h2>
      </div>
    <div class="container" style="padding-top:30px;">
      <% @testimonials.each do |t| %>
        <div>
          <div class="thumbnail testimonial-thumbnail col-lg-3 col-md-3">
            <% @visitor = User.find(t.visitor_id)%>
            <% if @visitor.avatar.present? %>
              <%= image_tag(@visitor.avatar, class:"image-circle", id:"profile-page-profile-image") %>
            <% else %>
              <%= image_tag("profile_placeholder.jpg", class:"image_circle", style:"width:100%;") %>
              <% end %>
              <!-- Button trigger modal -->
              <h3><%=@visitor.full_name%></h3>
              <p><%=t.created_at.strftime("%d %^B %Y")%></p>
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
                View
              </button>
          </div>
          <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><%=t.title%></h4>
                  </div>
                  <div class="modal-body">
                    <p><%=t.testimony%></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#edit">edit</button>
                  </div>
                </div>
            </div>
            <!-- end modal -->
          </div>
        </div>
      <!-- edit testimony modal -->
      <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Edit My Testimony</h4>
            </div>
            <div class="modal-body">
              <div class="user-testimonial-edit-form ">
                <%= form_for :testimonial, url:user_testimonial_path(t.user_id, t.id), method: :post do |form| %>
                <%=  form.hidden_field :visitor_id, value:current_user.id %>
                <%=  form.hidden_field :user_id, value:t.user_id %>
                <div class="form-group">
                  <%= form.text_field :title, placeholder:"Testimony title", class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= form.text_area :testimony, placeholder:"Your testimony", class:"form-control" %>
                </div>
                <!-- pending each do function to narrow visbility of this to user -->
              </div>
            </div>
            <div class="modal-footer">
              <div class="form-group">
                <%= form.submit "post", class:"btn btn-primary" %>
              </div>
              <% end %>
            </div>
          </div>
      </div>

    </div>
      <% end %>
  </div>
  </section>
</div>
