<nav class="navbar navbar-fixed-top", id="navbar-override">
  <div class="container-fluid">
    <div class="navbar-header col-md-4 col-lg-4">
      <a class="navbar-brand" id="brand" href="/"><strong><%= image_tag("niro-logo2.png", style:"width:10%;")%> NIRO &middot; 日常の英雄</strong></a>
    </div>

    <div class="col-lg-4 col-md-4">
   <%= form_tag search_path, method: "get" do %>
    <div class="form-group">
      <div class="col-lg-10 col-md-10"> <%= text_field_tag(:search, params[:search], placeholder:"Search missions", class:"form-control") %> </div>
      <div class="col-lg-2 col-md-2"><%= submit_tag("Search", class:"btn btn-danger")%></span></div>
    </div>
    <% end %>
  </div>



    <div class="col-lg-4 col-md-4">
    <ul class="nav navbar-nav navbar-right">
      <% if !signed_in? %>
        <li><a class="modal-btn" id="sign-up-title" data-toggle="modal" data-target="#signupModal" > Sign-up</a>
        <li><a class="modal-btn" id="login-title" data-toggle="modal" data-target="#loginModal" > Login</a></li>
        <hr id="navbar-underline" />
      <% else %>
        <li id="sign-in-as">
    <!-- Differentiating logins for user and without organizations -->
        <li class="dropdown"><a href="#" class="dropdown-toggle" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <% if current_user.avatar.size != 0 %><span ><%= image_tag current_user.avatar.thumb, style:"border-radius:50%;" %></span><% else %><span id="no-avatar">Signed in as: &nbsp;<i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<%= current_user.full_name %></span><% end %>
        </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <div style="padding: 0 15px;">
                <div>
                  <%= image_tag current_user.avatar, class:"align-center", style:"border-radius:50%; width:50%;"%>
                </div>
                <div class="text-center">
                  <h3><%=current_user.full_name%></h3>
                  <strong>Lvl.<%= current_user.level %></strong>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <li><%= link_to "My Niro Profile", user_path(current_user.id), id:"profile-title" %></li>
            <hr/>
              <li><%= link_to "Create your organization page", new_organization_path %></li>
            <% if current_user.organizations.present? %>
              <li><%= link_to "Host as Yourself", new_user_event_path(current_user.id), id:"become-host-title" %></li>
              <% current_user.organizations.each do |org| %>
              <li><%= link_to "Host as #{org.name}", new_organization_event_path(org.id), id:"become-host-title" %></li>
              <% end %>
            <% else  %>
            <li><%= link_to "Host a Niro Event", new_user_event_path(current_user.id), id:"become-host-title" %></li>
            <% end %>
            <hr/>
            <li><%= link_to "Sign Out", sign_out_path, id:"sign-out-title", method: :delete %></li>
            </ul>
        </li>
        <hr id="navbar-underline" />
      <% end %>
    </ul>
  </div>
  </div>
</nav>

<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" id="modal-content-override">
      <div class="modal-header">
        <button type="button" id="login-close-btn" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center" id="sign-up-modal">Log In</h4>
      </div>
      <div class="modal-body">
        <div id="clearance" class="sign-in">

          <%= render partial: '/sessions/form' %>

        </div>

        <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center; margin-top: 10px;">
          <span style="font-size: 20px; background-color: white; padding: 0 10px; font-family:'Raleway'; position:relative; top:3px;">
              or <!--Padding is optional-->
          </span>
        </div>
      <br>
        <% if !signed_in? %>
          <div class="container container-override">
          <div class="row">
            <div class="col-md-4"><%= link_to raw('<i class="fa fa-facebook-official" aria-hidden="true"></i> Sign in with Facebook'), "/auth/facebook", class:"btn social-login" %></div>
            <div class="col-md-4"><%= link_to raw('<i class="fa fa-google" aria-hidden="true"></i> Sign in with Google'), "/auth/google_oauth2", class:"btn social-login" %></div>
            <div class="col-md-4"><%= link_to raw('<i class="fa fa-linkedin-square" aria-hidden="true"></i> Sign in with LinkedIn'), "/auth/linkedin", class:"btn social-login" %></div>
          </div>
        </div>
        <% end %>

      </div>
      <div class="modal-footer">
        <p>Don't have an account? <a data-toggle="modal" data-target="#signupModal" data-dismiss="modal" >  Sign up</a></p>
      </div>
    </div>

  </div>
</div>

<div id="signupModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" id="modal-content-override">
      <div class="modal-header">
        <button type="button" id="login-close-btn" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center" id="sign-up-modal">Get Started</h4>
      </div>
      <div class="modal-body">
        <div id="clearance" class="sign-up">

          <%= form_for User.new do |form| %>
            <%= render partial: '/users/form', object: form %>
            <br>
              <div class="submit-field">
                <%= form.submit 'Sign Up', id:"sign-up-btn", class:"btn" %>
              </div>

          <% end %>

        </div>
          <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center; margin-top: 10px;">
            <span style="font-size: 20px; background-color: white; padding: 0 10px; font-family:'Raleway'; position:relative; top:3px;">
                or <!--Padding is optional-->
            </span>
          </div>
          <br>
        <% if !signed_in? %>
        <div class="container container-override">
          <div class="row">
            <div class="col-md-4"><%= link_to raw('<i class="fa fa-facebook-official" aria-hidden="true"></i> Sign up with Facebook'), "/auth/facebook", class:"btn social-login" %></div>
            <div class="col-md-4"><%= link_to raw('<i class="fa fa-google" aria-hidden="true"></i> Sign up with Google'), "/auth/google_oauth2", class:"btn social-login" %></div>
            <div class="col-md-4"><%= link_to raw('<i class="fa fa-linkedin-square" aria-hidden="true"></i> Sign up with LinkedIn'), "/auth/linkedin", class:"btn social-login" %></div>
          </div>
        </div>
        <% end %>



      </div>
      <div class="modal-footer">
        <p>Already have an account? <a data-toggle="modal" data-target="#loginModal" data-dismiss="modal" > Log in</a></p>
      </div>
    </div>

  </div>
</div>
